In [14]:
import pandas as pd

## salary 10 persent increse

In [15]:
data={
    "Name":['Ram','sam','jadu','modhu','tumpa','rani','panda','nonu'],
    "Age":[28,34,22,30,29,40,25,32],
    "salary":[5000,700000,3000,5000,20000,8000,4000,46000],
    "performance_Score":[85,90,78,92,88,95,80,89]
}

df=pd.DataFrame(data)
print(df)
df["Bonus"]=df['salary']* 0.1
print(df)

    Name  Age  salary  performance_Score
0    Ram   28    5000                 85
1    sam   34  700000                 90
2   jadu   22    3000                 78
3  modhu   30    5000                 92
4  tumpa   29   20000                 88
5   rani   40    8000                 95
6  panda   25    4000                 80
7   nonu   32   46000                 89
    Name  Age  salary  performance_Score    Bonus
0    Ram   28    5000                 85    500.0
1    sam   34  700000                 90  70000.0
2   jadu   22    3000                 78    300.0
3  modhu   30    5000                 92    500.0
4  tumpa   29   20000                 88   2000.0
5   rani   40    8000                 95    800.0
6  panda   25    4000                 80    400.0
7   nonu   32   46000                 89   4600.0

## insert method
## df.insert(loc,"Column_name",some data)

In [16]:
df.insert(0,"employee ID",[10,20,30,40,50,60,70,80])
print(df)

   employee ID   Name  Age  salary  performance_Score    Bonus
0           10    Ram   28    5000                 85    500.0
1           20    sam   34  700000                 90  70000.0
2           30   jadu   22    3000                 78    300.0
3           40  modhu   30    5000                 92    500.0
4           50  tumpa   29   20000                 88   2000.0
5           60   rani   40    8000                 95    800.0
6           70  panda   25    4000                 80    400.0
7           80   nonu   32   46000                 89   4600.0

## Updating values

In [ ]:
# .loc[]
#df.loc[row_index,"column Name"]=new_value

df.loc[0,'salary']=5500
print(df)

   employee ID   Name  Age  salary  performance_Score    Bonus
0           10    Ram   28    5500                 85    500.0
1           20    sam   34  700000                 90  70000.0
2           30   jadu   22    3000                 78    300.0
3           40  modhu   30    5000                 92    500.0
4           50  tumpa   29   20000                 88   2000.0
5           60   rani   40    8000                 95    800.0
6           70  panda   25    4000                 80    400.0
7           80   nonu   32   46000                 89   4600.0

In [18]:
print(df)

   employee ID   Name  Age  salary  performance_Score    Bonus
0           10    Ram   28    5500                 85    500.0
1           20    sam   34  700000                 90  70000.0
2           30   jadu   22    3000                 78    300.0
3           40  modhu   30    5000                 92    500.0
4           50  tumpa   29   20000                 88   2000.0
5           60   rani   40    8000                 95    800.0
6           70  panda   25    4000                 80    400.0
7           80   nonu   32   46000                 89   4600.0

# updating all salary

In [ ]:
df['salary']=df['salary']*1.05 ##5% increse
print(df)

   employee ID   Name  Age    salary  performance_Score    Bonus
0           10    Ram   28    5775.0                 85    500.0
1           20    sam   34  735000.0                 90  70000.0
2           30   jadu   22    3150.0                 78    300.0
3           40  modhu   30    5250.0                 92    500.0
4           50  tumpa   29   21000.0                 88   2000.0
5           60   rani   40    8400.0                 95    800.0
6           70  panda   25    4200.0                 80    400.0
7           80   nonu   32   48300.0                 89   4600.0

## removing  column