## save data

In [1]:
import pandas as pd

In [ ]:
data={
    "Name": ['Ram', 'shyam', 'jadu'],
    "age": [10, 20, 30],
    "city": ['Nagpur','Mambi','Delhi']
}

df=pd.DataFrame(data)
print(df)

df.to_csv("output.csv", index=False) ## for hiding index

    Name  age    city
0    Ram   10  Nagpur
1  shyam   20   Mambi
2   jadu   30   Delhi